<?php

/**
 * @file
 * Contains {{module}}.module
 */

use Drupal\Core\Routing\RouteMatchInterface;

/**
 * Implements hook_help().
 */

function {{module}}_help($route_name, RouteMatchInterface $route_match)
{
  switch ($route_name) {
    // Main module help for the {{ module }} module.
    case 'help.page.{{ module }}':
      $output = '';
      $output .= '<h3>' . t('About') . '</h3>';
      $output .= '<p>' . t('{{ description }}') . '</p>';
      return $output;
    break;
  }
}


/**
 * Implements hook_theme().
 */

function {{module}}_theme()
{
  $theme = [];

  return $theme;
}
