{% block file_methods %}
{% if not file_exists %}
{% include 'module/php_tag.php.twig' %}

/**
 * @file
 * Main module help for the {{ machine_name }} module.
 */

{% endif %}
use Drupal\Core\Routing\RouteMatchInterface;

/**
 * Implements hook_help().
 */
function {{machine_name}}_help($route_name, RouteMatchInterface $route_match) {
  switch ($route_name) {
    // Main module help for the {{ machine_name }} module.
    case 'help.page.{{ machine_name }}':
      $output = '';
      $output .= '<h3>' . t('About') . '</h3>';
      $output .= '<p>' . t('{{ description|escape }}') . '</p>';
      return $output;

    default:
  }
}
{% endblock %}
